  - python>=3.11
  - pytorch::pytorch>=2.1
  - lightning>=2.0
  - numpy<2.0
  - pandas
  - rdkit
  - scikit-learn
  - scipy
  - chemprop >= 2.1.0
  - seaborn
  - skopt
  - sys
  - os
  - random
  - matplotlib
